export(
    TSP,
    cities, 
    insert_dummy,
    solve_TSP,
    tsp_concorde_help, 
    tour_length,
    write_TSPLIB
    )

S3method(insert_dummy, dist)
S3method(insert_dummy, matrix)

S3method(print, TSP)
S3method(cities, TSP)
S3method(labels, TSP)
S3method(image, TSP)

