export(
    TSP,
    cities, 
    solve_TSP,
    tsp_concorde, 
    tsp_concorde_help, 
    tsp_greedy,
    tsp_insertion,
    tour_length,
    insert_dummy
    )

S3method(insert_dummy, dist)
S3method(insert_dummy, matrix)

S3method(print, TSP)
S3method(cities, TSP)
S3method(labels, TSP)
S3method(image, TSP)

