
h1 { border:1px solid grey; background-color:#E0E0E0; padding:2px; margin:0px; margin-bottom:8px; }
h2 { font-style: oblique; color:#900000; }

b.red { color:#900000; }

address { font-size:small; }

hr { background-color:#E0E0E0; border:1px solid grey; }
